/* Main colors */
:root {
  --brown-text: #481B02;
  --orange-button: #FF6B34;
  --beige-background: #F8E9C1;
  --white-main: #ffffff;
  --green-background: #3C593D;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--brown-text);
  margin: 0;
  font-family: 'Poppins';font-size: 22px;
}

/* Hier staat de navigatie menu Geveltuin */
.nav-geveltuin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: var(--beige-background);
  color: #481B02;
  padding: 15px 8em;
  position: sticky;
  top: 0;
  overflow: hidden;
}

/* logo */
.nav-geveltuin img {
  width:5em;
}

/* Menu items */
.nav-geveltuin ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-geveltuin ul li {
  margin-left: 60px;
}

.nav-geveltuin ul li a {
  color: var(--brown-text);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-geveltuin ul li a:hover {
  color: var(--orange-button);
}

/* Logo */

.checkbtn {
  color: white;
  cursor: pointer;
  display: none;
}

img.hamburger-icon {
  width: 35px;
  margin-bottom: -8px;
}

#check {
  display: none;
}

/* Header Geveltuin */
.header-geveltuin {
  display: flex;
  flex-direction: column;
  background-color: var(--beige-background);
  align-self: center;
  padding: 2em 1em 7em 1em;
  border-radius: 0px 0px 20px 20px;
  gap: 3em;
}

.header-geveltuin section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

img.header-img {
  width: 100%;
  height: 25em;
  border-radius: 20px;
  object-fit: cover;
}

.header-geveltuin h1 {
  text-align: center;
}

.header-geveltuin p {
  text-align: center;
}

p.sup-titel {
  text-align: center;
  margin-bottom: -0.5em;
}

/* Button header */
a.btn-header {
  align-self: center;
  background-color: var(--orange-button);
  color: var(--white-main);
  padding: 0.8em 1.5em;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 1.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
}

.btn-header img {
  align-items: center;
}

a.btn-header:hover {
  background-color: var(--brown-text);
  transition: ease-in-out .2s;
}















/* Media query */

/* Font groottes */

@media screen and (min-width: 150px) {
    * {
        font-size: 12px;
        line-height: 1.7em;
    }
}

@media screen and (min-width: 250px) {
    * {
        font-size: 14px;
        line-height: 1.7em;
    }
}

@media screen and (min-width: 350px) {
    * {
        font-size: 14px;
        line-height: 1.8em;
    }
}

@media screen and (min-width: 500px) {
    * {
        font-size: 16px;
        line-height: 1.8em;
    }
}

@media screen and (min-width: 1028px) {
    * {
        font-size: 17px;
    }
}

/* h1 font-size */
@media screen and (min-width: 0px) {
    h1 {
        font-size: 20px;
        line-height: 2em;
        font-weight: bold;
    }
}

@media screen and (min-width: 250px) {
    h1 {
        font-size: 25px;
        line-height: 2em;
        font-weight: bold;
    }
}

@media screen and (min-width: 350px) {
    h1 {
        font-size: 35px;
        font-weight: bold;
    }
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 38px;
        font-weight: bold;
    }
}

@media screen and (min-width: 1028px) {
    h1 {
        font-size: 50px;
        font-weight: bold;
    }
}

/* h2 font-size */
@media screen and (min-width: 250px) {
    h2 {
        font-size: 20px;
        font-weight: bold;
    }
}

@media screen and (min-width: 350px) {
    h2 {
        font-size: 25px;
        font-weight: bold;
    }
}

@media screen and (min-width: 500px) {
    h2 {
        font-size: 30px;
        font-weight: bold;
    }
}

@media screen and (min-width: 1028px) {
    h2 {
        font-size: 40px;
        font-weight: bold;
    }
}


/* navigatie hamburger menu */
@media (max-width: 820px) {
.nav-geveltuin {
  padding: 15px 1em;
}

.checkbtn {
  display: block;
  order: 1;
}

.nav-geveltuin ul {
  position: fixed;
  top: 70px;
  right: -100%;
  background-color: var(--beige-background);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.nav-geveltuin ul li {
  margin: 30px 0;
}

.nav-geveltuin ul li a {
  font-size: 1.5em;
  font-family: 'Open Sans';
}

#check:checked ~ ul {
  right: 0;
}
}

 @media screen and (min-width: 740px) {
    .nav-geveltuin {
    padding: 1em 3em 1em 3em;
  }
}

  @media screen and (min-width: 1000px) {
    .nav-geveltuin {
    padding: 1em 6em 1em 6em;
  }
}
  @media screen and (min-width: 1200px) {
  .nav-geveltuin  {
    flex-direction: row;
    padding: 1em 8em 1em 8em;
  }
}

/* Header geveltuin */
  @media screen and (min-width: 740px) {
  .header-geveltuin {
    flex-direction: row;
    padding: 3em 3em 7em 3em;
  }

  .header-geveltuin section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img.header-img {
    width: 100%;
    height: 28em;
    border-radius: 20px;
  }

  .header-geveltuin h1 {
    text-align: left;
  }

  .header-geveltuin p {
    text-align: left;
  }

  p.sup-titel {
    text-align: left;
    margin-bottom: -0.5em;
  }

  /* Button header */
  a.btn-header {
    align-self: baseline;
    font-size: 16px;
  }
}

  @media screen and (min-width: 1000px) {
  .header-geveltuin {
    flex-direction: row;
    padding: 3em 6em 7em 6em;
  }

  img.header-img {
    width: 100%;
    height: 28em;
  }
}

  @media screen and (min-width: 1200px) {
  .header-geveltuin {
    flex-direction: row;
    padding: 2em 8em 8em 8em;
  }

  img.header-img {
    width: 100%;
    height: 24em;
  }
}

























/* .accordion {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
}

.active, .accordion:hover {
background-color: #ccc;
}

.accordion:after {
content: '\002B';
color: #777;
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
}

.panel {
padding: 0 18px;
background-color: white;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
} */