/* Main colors */
:root {
  --brown-text: #481B02;
  --orange-button: #FF6B34;
  --beige-background: #F8E9C1;
  --white-main: #ffffff;
  --green-background: #3C593D;
}

/* Alemeen */
* {
  box-sizing: border-box;
  color: var(--brown-text);
  margin: 0;
  font-family: 'Poppins';
  font-size: clamp(1rem, 0.981rem + 0.087vw, 1.0625rem);
  line-height: 1.7rem;
}

h2 {
  font-size: clamp(1.7em, 5vw, 2.2em);
  line-height: 2em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}






/* Hier staat de navigatie menu Geveltuin */
.nav-geveltuin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--beige-background);
  color: #481B02;
  padding: 15px 1em;
  position: sticky;
  top: 0;
  overflow: hidden;
}

/* logo */
.nav-geveltuin img {
  width: 5em;
  z-index: 1;
  display: block;
}

/* hamburger */
.checkbtn {
  color: white;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
}

img.hamburger-icon {
  width: 35px;
}

.nav-geveltuin button {
  background-color: var(--beige-background);
  border: none;
}

/* Menu items */
.nav-geveltuin ul {

  list-style-type: none;
  padding: 0;
  margin: 0;

  position: fixed;
  top: 70px;
  right: 0%;
  translate: 100%;

  background-color: var(--beige-background);
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  transition: all 0.3s;
}

.nav-geveltuin ul.open {
  translate: 0%;
}

.nav-geveltuin ul li {
  margin: 10px 0;
}

.nav-geveltuin ul li a {
  color: var(--brown-text);
  text-decoration: none;
  transition: color 0.3s;
  font-family: 'Open Sans';
  font-size: 1em;
}

.nav-geveltuin ul li a:hover {
  color: var(--orange-button);
}





/* Header Geveltuin */
.header-geveltuin {
  display: flex;
  flex-direction: column;
  background-color: var(--beige-background);
  align-self: center;
  padding: 2em 1em 7em 1em;
  border-radius: 0px 0px 20px 20px;
  gap: 3em;
  margin-bottom: -4em;
}

.header-geveltuin section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

img.header-img {
  width: 100%;
  height: 25em;
  border-radius: 20px;
  object-fit: cover;
}

.header-geveltuin h1 {
  text-align: left;
  font-size: clamp(2em,5vw,2.5em);
  line-height: 2em;
}

.header-geveltuin p {
  text-align: left;
}

#begin p.sup-titel {
  text-align: center;
  margin-bottom: -0.5em;
}

/* Button header */
/* raar om een a een class button te geven */
a.btn-header {
  align-self: baseline;
  background-color: var(--orange-button);
  color: var(--white-main);
  padding: 0.8em 1.5em;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 1.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
}

.btn-header img {
  align-items: center;
}

a.btn-header:hover {
  background-color: var(--brown-text);
  transition: ease-in-out .2s;
}


/* Blok met hoe het begon */
section.begin {
  display: flex;
  flex-direction: column;
  background-color: var(--white-main);
  padding: 3em 1em 2em 1em;
  align-self: center;
  width: 92%;
  border-radius: 20px;
}

.begin h2 {
  text-align: center;
}

.begin p {
  text-align: center;
}

p.sup-titel {
  text-align: left;
}

/* Button hoe het begon */
a.btn-begin {
  align-self: center;
  background-color: var(--orange-button);
  color: var(--white-main);
  padding: 0.8em 1.5em;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 3em;
  transition: ease-in-out .2s;
  font-weight: 600;
}

.btn-begin img {
  align-items: center;
}

a.btn-begin:hover {
  background-color: var(--brown-text);
  transition: ease-in-out .2s;
}

/* Banner afbeelding in hoe het begon */
figure.banner-img img {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
  object-fit: cover;
}






/* Media query's */

/* Navigatie balk */
@media (width > 820px) {

  .nav-geveltuin {
    padding: 10px 3em;
  }

  .nav-geveltuin ul {
    position: static;
    width: unset;
    height: unset;
    translate: 0;

    flex-direction: row;

    gap: 60px;
  }

  .checkbtn {
    display: none;
  }
}

@media (width > 1000px) {

  .nav-geveltuin {
    padding: 10px 6.5em;
  }
}

@media (width > 1200px) {

  .nav-geveltuin {
    padding: 10px 8em;
  }
}








/* Header geveltuin */
@media screen and (min-width: 740px) {
  .header-geveltuin {
    flex-direction: row;
    padding: 3em 3em 7em 3em;
  }

  .header-geveltuin section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img.header-img {
    width: 100%;
    height: 28em;
    border-radius: 20px;
  }

  .header-geveltuin h1 {
    text-align: left;
  }

  .header-geveltuin p {
    text-align: left;
  }

  p.sup-titel {
    text-align: left;
    margin-bottom: -0.5em;
  }

  /* Button header */
  a.btn-header {
    align-self: baseline;
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  .header-geveltuin {
    flex-direction: row;
    padding: 3em 6em 7em 6em;
  }

  img.header-img {
    width: 100%;
    height: 28em;
  }
}

@media screen and (min-width: 1200px) {
  .header-geveltuin {
    flex-direction: row;
    padding: 2em 8em 8em 8em;
  }

  img.header-img {
    width: 100%;
    height: 24em;
  }
}






/* Hoe het begon */

@media screen and (min-width: 740px) {
  section.begin {
    width: 90%;
    padding: 4em 1em 2em 1em;
  }

  .begin p.sup-titel {
    text-align: center;
    margin-bottom: 0.4em;
  }

  .begin p {
    align-self: center;
    width: 80%;
  }

  Banner afbeelding in hoe het begon figure.banner-img img {
    height: 40vh;
  }
}

@media screen and (min-width: 1000px) {
  section.begin {
    width: 82%;
    padding: 4.7em 1em 2em 1em;
  }

  figure.banner-img img {
    height: 45vh;
  }

  .begin p {
    align-self: center;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  section.begin {
    width: 81%;
  }
}


/* .accordion {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
}

.active, .accordion:hover {
background-color: #ccc;
}

.accordion:after {
content: '\002B';
color: #777;
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
}

.panel {
padding: 0 18px;
background-color: white;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}
 */